@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --font-w-med: 500;
    --font-w-bol: 700;
    --font-color: #505050;
    --font-color-highlight: #0D96A0;
    --background-color-primary: #fff;
    --background-color-secondary: rgba(13, 150, 160, 0.1);
}

/* ------------base------------ */
html {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    word-break: break-all;
    font-size: 10px;
    scroll-padding-top: 5rem;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-w-med);
    font-style: normal;
    background: var(--background-color-primary);
    color: var(--font-color);
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    letter-spacing: 0;
}
#container {
    width: 100%;
    overflow: hidden;
}

/* ------------common------------ */
/* PC、SPの非表示 */
.pc,
.sp {
    display: block;
}
@media (max-width: 767px) {
    .pc {
        display: none !important;
    }
}
@media (min-width: 768px) {
    .sp {
        display: none !important;
    }
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.inner {
    max-width: 88rem;
    margin-inline: auto;
}
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.section-title img {
    width: 2.549rem;
    height: 2.5rem;
}
.section-title h2 {
    font-size: 2.5rem;
    font-weight: var(--font-w-bol);
    line-height: calc(36 / 25);
}
@media (min-width: 768px) {
    .pc-ib-span {
        display: inline-block;
    }
}
@media (max-width: 767px) {
    .sp-ib-span {
        display: inline-block;
    }
}

/* ------------header------------ */
.header {
    width: 100%;
    height: 5rem;
    background: var(--background-color-primary);
    padding-inline: 3rem;
    position: fixed;
    z-index: 9999;
}
@media (max-width: 767px) {
    .header {
        padding-inline: 2rem;
    }
}
.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 0.951rem;
    transition: opacity 0.4s;
}
@media (any-hover: hover) {
    .header__logo:hover {
        opacity: 0.7;
    }
}
.header__logo img {
    width: 2.549rem;
    height: 2.49rem;
}
.header__logo a {
    height: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: var(--font-w-bol);
}
@media (max-width: 767px) {
    .header__logo a {
        font-size: 2rem;
    }
}
.header__nav {
    display: flex;
    gap: 1rem;
}
.header__nav li a {
    display: flex;
    align-items: center;
    height: 5rem;
    font-size: 1.4rem;
    font-weight: var(--font-w-bol);
    transition: opacity 0.4s;
}
@media (any-hover: hover) {
    .header__nav li a:hover {
        opacity: 0.7;
    }
}

/* ------------fv------------ */
.fv {
    position: relative;
    margin-top: 5rem;
}
.fv__contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: calc(152 / 1080 * 100vw);
}
@media (max-width: 767px) {
    .fv__contents {
        padding-top: initial;        display: flex;
        align-items: flex-end;
    }
}
.fv__catch {
    width: calc(492 / 1080 * 100vw);
    height: calc(210 / 1080 * 100vw);
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    padding-left: calc(99 / 1080 * 100vw);
}
@media (max-width: 767px) {
        .fv__catch {
        width: calc(311 / 375 * 100vw);
        height: calc(148 / 375 * 100vw);
        padding-left: calc(20 / 375 * 100vw);
    }
}
.fv__catch h2 {
    font-size: calc(25 / 1080 * 100vw);
    line-height: calc(36.2 / 25);
    font-weight: var(--font-w-bol);
}
@media (max-width: 767px) {
    .fv__catch h2 {
        font-size: calc(20 / 375 * 100vw);
    }
}
.fv__catch h2 .large-font {
    display: block;
    margin-top: 0.7rem;
    font-size: calc(40 / 1080 * 100vw);
    line-height:calc(60 / 40);
    color: var(--font-color-highlight);
}
@media (max-width: 767px) {
    .fv__catch h2 .large-font {
        margin-top: 0.8rem;        
        font-size: calc(30 / 375 * 100vw);
        line-height:calc(40 / 30);
    }    
}

/* ------------greeting------------ */
.greeting {
    padding: 6rem 3rem;
    text-align: center;
}
@media (max-width: 767px) {
    .greeting {
        padding: 4.9rem 2rem 3.9rem;
    }
}
.greeting__title h2 {
    font-size: 3rem;
    font-weight: var(--font-w-bol);
    line-height: calc(50 / 30);
    color: var(--font-color-highlight);
}
@media (max-width: 767px) {
    .greeting__title h2 {
        font-size: 2.5rem;
        line-height: calc(35 / 25);
    }
    .greeting__title h2 span {
        display: inline-block;
    }
}
.greeting__contents {
    position: relative;
    margin-top: 1.5rem;
    background: var(--background-color-primary);    
}
@media (max-width: 767px) {
    .greeting__contents {
        margin-top: 1.7rem;
    }    
}
.greeting__contents p {
    font-size: 1.8rem;
    line-height:calc(33 / 18);
}
@media (max-width: 767px) {
    .greeting__contents p {
        font-size: 1.6rem;
        line-height:calc(30 / 16);
        text-align: left;
    }    
}
.greeting__contents img {
    position: absolute;
    width: 8.375rem;
    height: 7.712rem;
    bottom: -2.612rem;
    right: -2.376rem;
}
@media (max-width: 767px) {
    .greeting__contents img {
        width: 6.835rem;
        height: 6.294rem;
        bottom: 0.757rem;
        right: 0.955rem;
    }
}

/* ------------about------------ */
.about {
    padding: 6.4rem 3rem 6.8rem;
    background: var(--background-color-secondary);
}
@media (max-width: 767px) {
    .about {
        padding: 5.1rem 2rem 3.5rem;
    }
}
.about__contents {
    margin-top: 4.8rem;
}
@media (max-width: 767px) {
    .about__contents {
        margin-top: 4.2rem;
    }    
}
.about__items {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}
@media (max-width: 767px) {
    .about__items {
        row-gap: 4.2rem;
    }
}
.about-item {
    display: flex;
    justify-content: space-between;
    column-gap: calc(45 / 880 * 100%);
}
@media (max-width: 767px) {
    .about-item {
        column-gap: 0;
        row-gap: 0;
    }
}
@media (max-width: 767px) {
    .about-item {
        flex-direction: column-reverse;
    }
}
.about-item:nth-of-type(even) {
    flex-direction: row-reverse;
}
@media (max-width: 767px) {
    .about-item:nth-of-type(even) {
        flex-direction: column-reverse;
    }
}
.about-item__textarea {
    flex: 1;
    margin-block: 4.8rem;
}
@media (max-width: 767px) {
    .about-item__textarea {
        margin-block: 2.6rem 0;
    }
}
.about-item__textarea h3 {
    font-size: 2.2rem;
    font-weight: var(--font-w-bol);
    line-height: calc(33 / 22);
}
@media (max-width: 767px) {
    .about-item__textarea h3 {
        text-align: center;
        font-size: 2rem;
        line-height: calc(30 / 20);
    }
}
.about-item__textarea p {
    margin-top: 1.9rem;
    font-size: 1.8rem;
    line-height: calc(33 / 18);
}
@media (max-width: 767px) {
    .about-item__textarea p {
        margin-top: 0.8rem;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}
.about-item__image {
    width: calc(440 / 880 * 100%);
}
@media (max-width: 767px) {
    .about-item__image {
        width: 100%;
    }    
}

/* ------------service------------ */
.service {
    padding: 6.3rem 3rem 5.9rem;
}
@media (max-width: 767px) {
    .service {
        padding: 4.5rem 2rem 3.9rem;
    }
}
.service__contents {
    margin-top: 4.8rem;
}
@media (max-width: 767px) {
    .service__contents {
        margin-top: 4.4rem;
    }
}
.service__items {
    display: flex;
    column-gap: calc(50 / 880 * 100%);
}
@media (max-width: 767px) {
    .service__items {
        flex-direction: column;
        row-gap: 3.9rem;
    }
}
.service-item__textarea {
    margin-top: 1.9rem;
    flex: 1;
}
@media (max-width: 767px) {
    .service-item__textarea {
        margin-top: 3rem;
    }
}
.service-item__textarea h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: var(--font-w-bol);
    line-height: calc(25 / 20);
}
@media (max-width: 767px) {
    .service-item__textarea h3 {
        line-height: calc(30 / 20);
    }
}
.service-item__textarea p {
    margin-top: 0.8rem;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
}
@media (max-width: 767px) {
    .service-item__textarea p {
        margin-top: 0.7rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

/* ------------information------------ */
.information {
    padding: 6.3rem 3rem 7rem;
    background: var(--background-color-secondary);
}
@media (max-width: 767px) {
    .information {
        padding: 4.3rem 2rem 5rem;
    }
}
.information-items {
    margin-top: 4.4rem;
}
.information-item {
    padding: 1.5rem 1.85rem 1.4rem;
    display: flex;
    align-items: center;
    column-gap: calc(25 / 880 * 100%);
    border-bottom: 1px solid rgba(112, 112, 112, 1);
    transition: opacity 0.4s;
}
@media (any-hover: hover) {
    .information-item:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}
@media (max-width: 767px) {
    .information-item {
        padding: 2.8rem 1rem 2.75rem;
        padding-right: 0;
        flex-direction: column;
        align-items: initial;
    }
}
.information-items article:first-of-type .information-item {
    border-top: 1px solid rgba(112, 112, 112, 1);
}
@media (max-width: 767px) {
    .information-items article:first-of-type .information-item  {
        padding-bottom: 2.6rem;
    }
}
.information-item__date {
    font-weight: var(--font-w-bol);
    line-height: calc(25 / 17);
}
.information-item__title {
    width: 18.4rem;
    font-size: 2rem;
    font-weight: var(--font-w-bol);
    color: var(--font-color-highlight);
    line-height: calc(25 / 20);
}
@media (max-width: 767px) {
    .information-item__title {
        margin-top: 0.2rem;
        width: initial;
    }
}
.information-item__text {
    flex: 1;
}
@media (max-width: 767px) {
    .information-item__text {
        margin-top: 0.6rem;
        font-size: 1.6rem;
        line-height: calc(24 / 16);
    }
}

/* ------------access------------ */
.access {
    padding: 6.3rem 3rem 6.8rem;
    background: var(--background-color-primary);
}
@media (max-width: 767px) {
    .access {
        padding: 4.3rem 2rem 5.1rem;
    }
}
.access__contents {
    margin-top: 4.6rem;
    display: flex;
    column-gap: calc(46 / 880 *100%);
}
@media (max-width: 767px) {
    .access__contents {
        flex-direction: column;
        row-gap: 3rem;
    }
}
.access__map {
    width: 50%;
}
@media (max-width: 767px) {
    .access__map {
        width: 100%;
    }
}
.access__map iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}
@media (max-width: 767px) {
    .access__map iframe {
        height: auto;
        aspect-ratio: 335 / 222;
    }
}
.access__info {
        flex: 1;
}
@media (max-width: 767px) {
    .access__info {
        width: 100%;
        padding-left: 0;
    }
}
.access__info h3 {
    font-size: 2.2rem;
    font-weight: var(--font-w-bol);
    line-height: calc(33 / 22);
}
.access__info address {
    margin-top: 1.4rem;
    font-size: 1.8rem;
}
@media (max-width: 767px) {
    .access__info address {
        margin-top: 1.2rem;
        font-size: 1.6rem;
        line-height: calc(24 / 16);
    }
}
.tel {
    margin-top: 1rem;
}
@media (max-width: 767px) {
    .tel {
        margin-top: 0.6rem;
    }
}
.tel span {
    font-size: 1.8rem;
    line-height: calc(27 / 18);
}
@media (max-width: 767px) {
    .tel span {
        font-size: 1.6rem;
        line-height: calc(27 / 16);
    }
}
.tel a {
    font-size: 2.5rem;
    font-weight: var(--font-w-bol);
    color: var(--font-color-highlight);
    line-height: calc(40 / 25);
}
@media (min-width: 768px) {
    .tel a[href^="tel:"]{
        pointer-events: none;
    } 
}
.mail {
    margin-top: 0.8rem;
    display: block;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    transition: opacity 0.4s;
}
@media (any-hover: hover) {
    .mail:hover {
        opacity: 0.7;
    }
}
@media (max-width: 767px) {
    .mail {
        margin-top: 0.7rem;
        font-size: 1.6rem;
    }
}
.access-info-clinic__time {
    margin-top: 2.7rem;
    margin-left: 0.4rem;
    padding-block: 1.5rem 1.4rem;
    width: 100%;
    font-size: 1.8rem;
    line-height: calc(40 / 18);
    border-top: 1px solid rgba(112, 112, 112, 1);
    border-bottom: 1px solid rgba(112, 112, 112, 1);
}
@media (max-width: 767px) {
    .access-info-clinic__time {
        margin-top: 1.7rem;
        margin-left: 0;
        padding-block: 1.2rem 1rem;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

/* ------------contact------------ */
.contact {
    padding: 6.2rem 3rem 8rem;
    background: var(--background-color-secondary);
}
@media (max-width: 767px) {
    .contact {
        padding: 4.3rem 2rem 5rem;
    }
}
.contact .inner p {
    margin-top: 2.5rem; 
    text-align: center;
}
@media (max-width: 767px) {
    .contact .inner p {
        margin-top: 4.3rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        text-align: left;
    }
}
.contact__form {
    margin-top: 3.9rem;
}
@media (max-width: 767px) {
    .contact__form {
        margin-top: 3.4rem;
    }
}
.contact__form-item {
    display: flex;
    gap: 2.9rem;
}
@media (max-width: 767px) {
    .contact__form-item {
        flex-direction: column;
        gap: 0.2rem;
    }
}
.contact__form-item:not(:first-child) {
    margin-top: 3rem;
}
@media (max-width: 767px) {
    .contact__form-item:not(:first-child) {
        margin-top: 1.7rem;
    }
}
.contact__form-item dt {
    margin-top: 0.7rem;
    width: calc(140 / 880 * 100%);
    font-size: 2rem;
    line-height: calc(33 / 20);
    font-weight: var(--font-w-bol);
}
@media (max-width: 767px) {
    .contact__form-item dt {
        margin-top: 0;
        width: 100%;
        font-size: 1.8rem;
        line-height: calc(33 / 18);
    }
}
.contact__form-item dd {
    flex: 1;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    background: var(--background-color-primary);
    font-size: 1.6rem;
    line-height: calc (50 / 16);
}
input[type="text"],
input[type="email"] {
    height: 4rem;
    padding: 0 1rem;
}
@media (max-width: 767px) {
    input[type="text"],
    input[type="email"] {
        height: 5rem;
    }
}
textarea {
    display: block;
    resize: none;
    height: 30rem;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: calc(33 / 16);
}
.contact__form-button {
    text-align: center;
}
.button {
    margin-top: 5rem;
    width: 20rem;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: var(--font-w-bol);
    color: var(--background-color-primary);
    background: var(--font-color-highlight);
    border-radius: 1rem;
    border: 1px solid var(--font-color-highlight);
    transition: background-color 0.4s, color 0.4s;
}
@media (any-hover: hover) {
    .button:hover {
        background: var(--background-color-primary);
        color: var(--font-color-highlight);
    }
}
@media (max-width: 767px) {
    .button {
        width: 100%;    
        height: 4.1rem;
        font-size: 2rem;
    }
}

/* ------------footer------------ */
.footer {
    padding: 6.6rem 3rem 7rem;
    background: var(--font-color);
    color: var(--background-color-primary);
}
@media (max-width: 767px) {
    .footer {
        padding: 4.5rem 2rem 5rem;
    }
}
.footer__nav::after {
    content: "";
    margin-top: 2rem;
    display: block;
    width: calc(737 / 880 * 100%);
    height: 1px;
    background-color: var(--background-color-primary);
    margin-inline: auto;
}
@media (max-width: 767px) {
    .footer__nav::after {
        width: 100%;
    }
}
.footer__nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.4rem;
    transition: opacity 0.4s;
}
@media (max-width: 767px) {
    .footer__nav ul {
        column-gap: 2rem;
        row-gap: 0;
    }
}
.footer__nav ul li {
    transition: opacity 0.4s;
}
@media (any-hover: hover) {
    .footer__nav ul li:hover {
        opacity: 0.7;
    }
}
.footer__nav ul li a {
    font-size: 2rem;
    font-weight: var(--font-w-bol);
    line-height: calc(33 / 20);
}
@media (max-width: 767px) {
    .footer__nav ul li a {
        font-size: 1.8rem;
        line-height: calc(33 / 18);
    }
}
.footer .inner p {
    margin-top: 2.6rem;
    font-size: 2rem;
    font-weight: var(--font-w-bol);
    text-align: center;
}
@media (max-width: 767px) {
    .footer .inner p {
        margin-top: 1.7rem;
        font-size: 1.6rem;
    }
}
.footer__sns {
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
@media (max-width: 767px) {
    .footer__sns {
        margin-top: 3.1rem;
    }
}
.footer__sns li {
    transition: opacity 0.4s;
}
@media (any-hover: hover) {
    .footer__sns li:hover {
        opacity: 0.7;
    }
}
